.srchBtn{
    background-color: $header-backgroundColor;
    color: $sliderTextColor;
    border: none;
    font-size: 0.9em;
    font-family: $Headingfont-family;
    letter-spacing: 0.1rem;
    width: 60%;
    height: 2.3rem;;
    text-align: center;
}


.srchBtn:focus{
    box-shadow: none;
}

.srchBtn:hover{
    background-color:$ContainerBorderColor !important;
}
.hotelDetailBtn{
    background-color: $hotelDetailBtnBackgrond;
    color: $sliderTextColor;
    border: 1px solid $hotelDetailBtnBorder;
    font-size: 0.9em;
    font-family: $Headingfont-family;
    letter-spacing: 0.1rem;
    width: 40%;
    height: 2.3rem;;
    text-align: center; 
    margin-top: 1rem;
}

.hotelDetailBtn:focus{
    box-shadow: none;
}

.hotelDetailBtn:hover{
    background-color:$ContainerBorderColor !important;
    border: none;
}

.detailBtn{
    background-color: $cardButtonBackgroundColor;
    color: $cardButtonTextColor;
    border: none;
    font-size: 1em;
    font-family: $Headingfont-family;
    letter-spacing: 0.1rem;
    width: 40%;
    height: 2.2rem;
    text-align: center;
    margin-top: 1rem;
}


.detailBtn:focus{
    box-shadow: none;
}

.detailBtn:hover{
    background-color:$ContainerBorderColor !important;
    border: none;
}

.loginBtn{
    background-color: $header-backgroundColor;
    color: $sliderTextColor;
    border: none;
    font-size: 1.2em;
    font-family: $Headingfont-family;
    letter-spacing: 0.1rem;
    width: 25%;
    height: 2.6rem;;
    text-align: center; 
    margin-left: 68%;
}

.loginBtn:focus{
    box-shadow: none;
}

.loginBtn:hover{
    background-color:$ContainerBorderColor !important;
    border: none;
}

.logoutBtn{
    background-color: $hotelDetailBtnBackgrond;
    border: 1px solid $hotelDetailBtnBorder;
    font-size: 1em;
    font-family: $Headingfont-family;
    letter-spacing: 0.1rem;
    width: 30%;
    height: 2.2rem;;
    text-align: center;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.logoutBtn:focus{
    box-shadow: none;
}
.updateHotel{
    background-color: $header-backgroundColor;
    color: $sliderTextColor;
    border: none;
    font-size: 1em;
    font-family: $Headingfont-family;
    letter-spacing: 0.1rem;
    width: 12%;
    height: 2.3rem;;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem; 
    margin-bottom: 2rem;
    margin-top: 2rem;
} 

.updateHotel:focus{
    box-shadow: none;
}

.updateHotel:hover{
    background-color:$ContainerBorderColor !important;
    border: none;
}

.deleteHotel{
    background-color: $cardButtonBackgroundColor;
    color: $sliderTextColor;
    border: none;
    font-size: 1em;
    font-family: $Headingfont-family;
    letter-spacing: 0.1rem;
    width: 12%;
    height: 2.3rem;;
    text-align: center;  
    margin-bottom: 2rem; 
    margin-right: 2rem; 
    margin-top: 2rem;
}

.deleteHotel:focus{
    box-shadow: none;
}

.deleteHotel:hover{
    background-color:$errorMessagesColor !important;
    border: none;
}

.goBackAdminHotel{
    font-size: 1em;
    font-weight: bold;
    color: $hotelEditLinkColor;
    font-family: $Buttonfont-family;
    padding-left: 32rem;
}

.goBackAdminHotel:hover{
    color:$hotelDetailBtnBackgrond !important;
}


@media (max-width:1024px) {
    .srchBtn{
        font-size: 1.5em;
        width: 98%;
        height:3rem;
    }

    .detailBtn{
        font-size: 1.1em;
        width: 60%;
        height: 4rem;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }

    .loginBtn{
        font-size: 1.3em;
        width: 38%;
        height:3rem;
        margin-left: 3rem;
    }

    .logoutBtn{
        margin-left: 0rem;
        margin-top: 0.8rem;
        width: 35%;
        font-size: 1.2em;
    }
    
    .updateHotel{    
        width: 25%;
        margin-left: 1rem;
        margin-right: 1rem; 
        margin-bottom: 1rem;
        margin-top: 1rem;
    } 

    .deleteHotel{
      width: 25%;
      margin-bottom: 1rem; 
      margin-right: 0rem; 
      margin-top: 1rem;
    }
  
    .goBackAdminHotel{
       padding-left: 10rem;
    }
}

@media (max-width:768px) {
    .srchBtn{
        font-size: 1.3em;
        width: 100%;
        
    }

    .detailBtn{
        font-size: 1.2em;
        width: 50%;
        height: 3rem;
        margin-top: 2rem;
        margin-left: 7rem;
    }

    .loginBtn{
        font-size: 1em;
        width: 35%;
        height:2.2rem;
        margin-left: 24rem;
    }

    .logoutBtn{
        margin-left: 2rem;
        margin-top: 0.9rem;
        width: 28%;
        font-size: 1.2em;
    }
    .updateHotel{    
        width: 25%;
        margin-left: 1rem;
        margin-right: 1rem; 
        margin-bottom: 0rem;
        margin-top: 1rem;
    } 

    .deleteHotel{
      width: 25%;
      margin-bottom: 0rem; 
      margin-right: 0rem; 
      margin-top: 1rem;
    }
  
    .goBackAdminHotel{
       padding-left: 5rem;
    }
}

@media (max-width:414px) {
    .srchBtn{
        font-size: 1em;
        width: 100%;
        height: 2.3rem;
    }

    .detailBtn{
        font-size: 1em;
        width: 70%;
        margin-top: 0.8rem;
        margin-left: 2.5rem;
    }

    .loginBtn{
        font-size: 0.8em;
        width: 40%;
        height:2rem;
        margin-left: 12rem;
    }

    .logoutBtn{
        margin-left: 0.5rem;
        margin-top: 0.9rem;
    }
    
}

@media (max-width:411px) {
    .srchBtn{
        font-size: 1em;
        width: 100%;
        height: 2.3rem;
        
    }

    .detailBtn{
        font-size: 1em;
        width: 70%;
        margin-top: 0.9rem;
        margin-left: 2.5rem;
    }

    .loginBtn{
        font-size: 0.8em;
        width: 40%;
        height:2rem;
        margin-left: 12rem;
    }

    .logoutBtn{
        margin-left: 0.5rem;
        margin-top: 0.9rem;
    }

    .updateHotel{    
        width: 35%;
        margin-left: 1rem;
        margin-right: 1rem; 
        margin-bottom: 0rem;
        margin-top: 1rem;
    } 

    .deleteHotel{
      width: 35%;
      margin-bottom: 0rem; 
      margin-right: 0rem; 
      margin-top: 1rem;
    }
  
    .goBackAdminHotel{
       padding-left: 1.5rem;
       margin-top: 2rem;
    }
    
}

@media (max-width:360px) {
    .srchBtn{
        font-size: 0.8em;
         width: 100%;
         height: 2.3rem;
    }

    .detailBtn{
        font-size: 0.8em;
        width: 80%;
        margin-top: 0.8rem;
        margin-left: 0.8rem;
    }

    .loginBtn{
        font-size: 0.8em;
        width: 40%;
        height:2rem;
        margin-left: 10rem;
    }

    .logoutBtn{
        margin-left: 0.5rem;
        margin-top: 0.9rem;
    }

    .updateHotel{    
        width: 35%;
        margin-left: 1rem;
        margin-right: 1rem; 
        margin-bottom: 0rem;
        margin-top: 1rem;
    } 

    .deleteHotel{
      width: 35%;
      margin-bottom: 0rem; 
      margin-right: 0rem; 
      margin-top: 1rem;
    }
  
    .goBackAdminHotel{
       padding-left: 1.5rem;
       margin-top: 2rem;
    }
    
}

@media (max-width:320px) {
    .srchBtn{
        font-size: 0.8em;
         width: 100%;
         height: 2.4rem;
    }

    .detailBtn{
        font-size: 0.8em;
        width: 80%;
        margin-top: 0.8rem;
        margin-left: 0.8rem;
    }

    .loginBtn{
        font-size: 0.8em;
        width: 40%;
        height:2rem;
        margin-left: 9rem;
    }

    .logoutBtn{
        margin-left: 0.5rem;
        margin-top: 0.9rem;
    }

    .updateHotel{    
        width: 35%;
        margin-left: 1rem;
        margin-right: 1rem; 
        margin-bottom: 0rem;
        margin-top: 1rem;
    } 

    .deleteHotel{
      width: 35%;
      margin-bottom: 0rem; 
      margin-right: 0rem; 
      margin-top: 1rem;
    }
  
    .goBackAdminHotel{
       padding-left: 1.5rem;
       margin-top: 2rem;
    }
    
}