.contactMainImg{
    &__img{
        width: 100%;
    }
}

.holidazeContact{
    padding-bottom: 3rem;

    &__heading{
        padding-top: 4rem;
        padding-left: 12rem;
        padding-bottom: 1rem;

        &--headingMain{
            font-family: $Headingfont-family;
            font-size: 2em;
        }
    }

    &__contactInfo{
        padding-left: 12rem;

        &--text{
            font-family: $Paragraphfont-family;
            font-size: 1.1em;
            word-spacing: 0.2rem;
        }

        &__googleMap{
           padding-left: none;
           width: 40rem;
           height: 30rem;
        }
        
    }
}

.contactForm{
    width: 85%;
    margin-left: 4rem;
    margin-top: 13rem;
    background-color:$contactFormBackgroundColor;

    &__heading{
        padding-left: 2rem;
        padding-top: 2rem;

        &--headingMain{
            font-family: $Headingfont-family;
            font-size: 2em; 
        }
    }

    &__row{
       padding-left: 4rem;
       padding-right: 2rem;
       padding-top: 2rem;
       width: 100%;

       &__label{
        font-weight: bold;
        font-family: $FormLabelfont-family;
        font-size: 0.8em;
        padding-top: 0.5rem;
           
       }
    }

    &__btn{
        padding-bottom: 1rem;
        padding-top: 2rem;
     &--sendFormbtn{
         margin-left: 70%;
     }
         
     }
}

//media query 6..............//
@media (max-width:1024px) {
    .contactMainImg{   
        &__img{
            width: 100%;
        }
    } 

    .holidazeContact{
        padding-bottom: 3rem;
        margin-bottom: 11.5rem;
  
        &__heading{
            padding-top: 1rem;
            padding-left: 2rem;
            padding-bottom: 1rem;

            
        }
    
        &__contactInfo{
            padding-left: 2rem;

            &--text{
                font-size: 1.5em;
            }
    
            &__googleMap{
               padding-left: none;
               width: 25rem;
               height: 20rem;
            }
            
        }
    }

    .contactForm{
        width: 100%;
        
        margin-left: 0rem;
        margin-top: 8rem;
          
        &__heading{
           padding-top: 1rem;
           padding-left: 1rem;
        }
    
        &__row{
           padding-left: 0rem;
           padding-top: 1rem;
    
           &__label{
               font-weight: bold;
               font-family: $FormLabelfont-family;
               font-size: 1em;
               padding-top: 0.5rem;  
           }
           
        }
        &__btn{
            &--sendFormbtn{
              margin-left: 28%;
          }
              
        }
        
    }  

}

//media query 5..............//
@media (max-width:768px) {
    .contactMainImg{   
        &__img{
            width: 100%;
        }
    } 

    .holidazeContact{
        padding-bottom: 1.5rem;
    
        &__heading{
            padding-top: 1rem;
            padding-left: 2rem;
            padding-bottom: 1rem;
        }
    
        &__contactInfo{
            padding-left: 2rem;
    
            &__googleMap{
               padding-left: none;
               width: 40rem;
               height: 20rem;
            }
            
        }
    }

    .contactForm{
        width: 100%;
        margin-left: 0rem;
        margin-top: 5rem;
          
        &__heading{
           padding-top: 1rem;
           padding-left: 1rem;
        }
    
        &__row{
           padding-left: 1rem;
           padding-top: 1rem;
    
           &__label{
               font-weight: bold;
               font-family: $FormLabelfont-family;
               font-size: 1em;
               padding-top: 0.5rem;
           }
        }
        &__btn{
            &--sendFormbtn{
              margin-left: 68%;
          }
              
        }
        
    }  

}

//media query 4...............//
@media (max-width:414px) {
    .contactMainImg{   
        &__img{
            width: 100%;
        }
    } 

    .holidazeContact{
        padding-bottom: 1.5rem;
    
        &__heading{
            padding-top: 1rem;
            padding-left: 2rem;
            padding-bottom: 1rem;
        }
    
        &__contactInfo{
            padding-left: 2rem;

            &--text{
                font-size: 1.2em;
            }
    
            &__googleMap{
               padding-left: none;
               width: 21rem;
               height: 20rem;
            }
            
        }
    }

    .contactForm{
        width: 100%;
        margin-left: 0rem;
        margin-top: 3rem;
          
        &__heading{
           padding-top: 1rem;
           padding-left: 1rem;
        }
    
        &__row{
           padding-left: 1rem;
           padding-top: 1rem;
    
           &__label{
               font-weight: bold;
               font-family: $FormLabelfont-family;
               font-size: 0.8em;
               padding-top: 0.5rem;
           }
        }
        &__btn{
            &--sendFormbtn{
              margin-left: 62%;
          }
              
        }
        
    }  

}


//media query 3...............//
@media (max-width:411px) {
    .contactMainImg{   
        &__img{
            width: 100%;
        }
    } 

    .holidazeContact{
        padding-bottom: 1.5rem;
    
        &__heading{
            padding-top: 1rem;
            padding-left: 2rem;
            padding-bottom: 1rem;
        }
    
        &__contactInfo{
            padding-left: 2rem;

            &--text{
                font-size: 1em;
            }
    
            &__googleMap{
               padding-left: none;
               width: 18rem;
               height: 20rem;
            }
            
        }
    }

    .contactForm{
        width: 100%;
        margin-left: 0rem;
        margin-top: 3rem;
          
        &__heading{
           padding-top: 1rem;
           padding-left: 1rem;
        }
    
        &__row{
           padding-left: 1rem;
           padding-top: 1rem;
    
           &__label{
               font-weight: bold;
               font-family: $FormLabelfont-family;
               font-size: 0.8em;
               padding-top: 0.5rem;
           }
        }
    
        
    }  

}



//media query 2...............//
@media (max-width:360px) {

    .contactMainImg{
       
        &__img{
            width: 100%;
        }
    }
    

    .holidazeContact{
        padding-bottom: 1.5rem;
    
        &__heading{
            padding-top: 1rem;
            padding-left: 2rem;
            padding-bottom: 1rem;
        }
    
        &__contactInfo{
            padding-left: 2rem;

            &--text{
                font-size: 1em;
            }
    
            &__googleMap{
               padding-left: none;
               width: 15rem;
               height: 20rem;
            }
            
        }
    }

    .contactForm{
        width: 100%;
        margin-left: 0rem;
        margin-top: 3rem;
          
        &__heading{
           padding-top: 1rem;
           padding-left: 1rem;
        }
    
        &__row{
           padding-left: 1rem;
           padding-top: 1rem;
           
    
           &__label{
               font-weight: bold;
               font-family: $FormLabelfont-family;
               font-size: 0.9em;
               padding-top: 0.5rem;
           }
        }
    
        
    }  
}

//media query 1...............//
@media (max-width:320px) {

    .contactMainImg{     
        &__img{
            width: 100%;
        }
    }
    

    .holidazeContact{
        padding-bottom: 1.5rem;
    
        &__heading{
            padding-top: 1rem;
            padding-left: 2rem;
            padding-bottom: 0rem;

            &--headingMain{
                font-size: 1em; 
            }
        }
    
        &__contactInfo{
            padding-left: 2rem;

            &--text{
                font-size: 0.8em;
            }
    
    
            &__googleMap{
               padding-left: none;
               width: 15rem;
               height: 10rem;
            }
            
        }
    }

    .contactForm{
        width: 100%;
        margin-left: 0rem;
        margin-top: 3rem;
          
        &__heading{
           padding-top: 1rem;
           padding-left: 1rem;
        }
    
        &__row{
           padding-left: 1rem;
           padding-top: 1rem;
    
           &__label{
               font-size: 0.8em;
               padding-top: 0.4rem;
           }
        }
        &__btn{
           &--sendFormbtn{
             margin-left: 60%;
         }
             
        }
        
    }  
}