$header-backgroundColor:#152D85;
$header-backgroundColor2:#0D0E26;
$logoColor: #FEF8D4;
$navLinkColor: #F2F1DC;
$sliderTextColor:#FFFFFF;
$contactFormBackgroundColor: #E8E8E8;
$ContainerBorderColor:#D97E4A;
$ContainerBackgroundColor:#F2F0D8;
$ActivitiesBackgroundColor:#F2EDE4;
$cardBackgroundColor:#697F8C;
$cardButtonBackgroundColor:#C94848;
$cardButtonTextColor:#EFE8AB;
$ActivitiesCardColor1:#338F8F;
$ActivitiesCardColor2:#F2CB9B;
$LoginFormBackgroundColor1:#F2E2C4;
$LoginFormBackgroundColor2:#F2B885;


$AddHotelFormBackgroundColor1:#F2E2C4;
$AddHotelFormBackgroundColor2:#F2B885;



