$header-backgroundColor:#0BB3D9;

$logoColor: #073044;

$navLinkColor: #FFFFFF;

$sliderTextColor:#FFFFFF;

$hotelDetailBtnBackgrond:#BF3F61;

$hotelDetailBtnBorder: #BFA8AD;

$errorMessagesColor: #F20505;

$ContainerBorderColor:#D97E4A;

$ContainerBackgroundColor:#F2F0D8;

$ActivitiesBackgroundColor:#F2EDE4;

$cardBackgroundColor:#697F8C;

$cardButtonBackgroundColor:#C94848;

$cardButtonTextColor:#EFE8AB;

$ActivitiesCardColor:#EDEFEC;

$ActivitiesCardBorderColor: #466F8F;

$hotelEditLinkColor: #0B0C2E;






